.popup.popup_is-opened {
  display: flex;
}
.popup__edit_profile.popup_is-opened{
  display: flex;
}
.popup_image.popup_is-opened{
  display: flex;
}
.popup__edit_card.popup_is-opened{
  display: flex;
}